# Case Study on Testing of Hypothesis

In [60]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [61]:
data= pd.read_csv(r"C:\Users\Anila John\Downloads\Sales_add.csv")
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [63]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [64]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

### 1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

#### Null hypothesis, H0 - There is no increase in sales after stepping into digital marketing.
#### Alternative hypthesis, H1 - There is increase in sales after stepping into digital marketing.
####  Level of Significance= 5%= 0.05

In [65]:
Sales_BD=data['Sales_before_digital_add(in $)']
Sales_AD=data['Sales_After_digital_add(in $)']

#### Checking Normality

In [66]:
stats.shapiro(Sales_BD)

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)

In [67]:
stats.shapiro(Sales_AD)

ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [68]:
# Here,p value of sales before and after data  is more than 0.05 & hence the distribution is normal.

In [69]:
stats.levene(Sales_BD,Sales_AD,center='mean')

LeveneResult(statistic=5.171664124853503, pvalue=0.028130575490495715)

In [70]:
# Here, the p value is less than 0.05,so equal variance not satisfies, therefore we use welch t test.

In [71]:
stats.ttest_ind(SalesBD,SalesAD,equal_var= False)

Ttest_indResult(statistic=-12.995084451110877, pvalue=1.1019671619608604e-14)

In [73]:
# Here , p value is less than 0.05, we are rejecting the  null hypothesis.
# Therefore, there is increase in sales after stepping into digital marketing.

In [74]:
tstat,p_value=stats.ttest_ind(Sales_BD,Sales_AD,equal_var=False)
print("T statistics value = ", tstat)
print("p value = ",p_value)

T statistics value =  -12.995084451110877
p value =  1.1019671619608604e-14

In [75]:
# Degrees of freedom
dof=(len(Sales_BD)-1)*(len(Sales_AD)-1)
dof

441

In [76]:
# t critical value 
t_critical = stats.t.ppf(q=1-0.05/2, df=dof)
t_critical

1.9653578272029777

In [77]:
if (abs(tstat)>t_critical)&(p_value<0.05):
    print('Rejecting null hypothesis. \n', 'Therefore, there is increase in sales after stepping into digital marketing.')
else:
    print('Accepting  null hypothesis, \n',  'Therefore, there is no increase in sales after stepping into digital marketing.')

Rejecting null hypothesis.
 Therefore, there is increase in sales after stepping into digital marketing.

### 2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [78]:
data1=pd.crosstab(data["Region"], data["Manager"])
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

#### Null hypothesis, H0-  There is no dependency between the features.
#### Alternate hypothesis, H1- There is dependency between the features.

In [79]:
chi=stats.chi2_contingency(data1)
chi

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [80]:
chi_Stat_value=Chi[0]
p_val=Chi[1]
d_o_f=Chi[2]
alpha=0.05
print("Chisquare statistics value =",Chi_Stat_value)
print("p value = ",p_val)
print("Degrees of freedom =",d_o_f)
print("Level of Significance, alpha = ",alpha)

Chisquare statistics value = 3.050566893424036
p value =  0.5493991051158094
Degrees of freedom = 4
Level of Significance, alpha =  0.05

In [81]:
# Critical value of chi square test
chi_critical= stats.chi2.ppf(q=1-alpha,df=d_o_f)
chi_critical

9.487729036781154

In [82]:
if(chi_Stat_value>=chi_critical)&(p_val<=alpha):
    print('Rejecting  null hypothesis \n', 'Therefore, there is dependency between the features.')
else:
    print('Accepting null hypothesis \n', 'Therefore, there is no dependency between the features.')

Accepting null hypothesis
 Therefore, there is no dependency between the features.